<style>
    .column { float: left; }
    .left   { width: 70%; }
    .right  { width: 30%; }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<div class="row">
    <div class="column left">
        I'm a software developer in the <b>Computer Graphics</b> field, focused on <b>graphics programming for real time rendering</b>.
        <br><br>
        Currently, I work for <a href="https://zuru.tech/">ZuruTech Italy</a>, developing graphics and rendering features in <b>Unreal Engine 4</b> and doing research for improving the quality and the performance of the application.
    </div>

    <div class="column right">
        <img src="/images/me.jpg" height="256" alt="Me" style="margin-bottom: 30px; margin-left: 20px;">
    </div>
</div>

<div>
    I've also 3 years experience as a pipeline developer writing python tools for <i>VFX</i> and <i>animation</i> studios. I've started in Rome for <a href="https://www.rbw-cgi.it/en/home/">Rainbow CGI</a>, then I moved to London at the <a href="https://www.mpcfilm.com/">MPC - Moving Picture Company</a>, where I have worked on movies like <i>The Lion King</i> and <i>Maleficient 2</i>.

    To see my job experiences and education, check <a href="https://www.linkedin.com/in/alessiopaoletti32/">Alessio Paoletti linkedin profile</a>.
    <br><br>
    Recently, I'm diving in to the <b>Computer Vision</b> world, following studies on machine learning.
</div>
