<style>
    .column { float: left; }
    .left   { width: 70%; }
    .right  { width: 30%; }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<div class="row">
    <div class="column left">
        I'm a software developer in the <b>Computer Graphics</b> field, focused on <b>graphics programming for real time rendering</b>.
        <br><br>
        I'm graduated in <b>Virtual Reality Programming and 3D Graphics</b>, bachelor of <a href="http://www.scienzamedia.uniroma2.it/"><i>Science and Technologies of Media, Maths Department</i></a>. Here I've studied mathematical analysis and geometry; I started doing software development and OOP programming, and finally I fell in love with computer graphics and digital image processing.
        <br><br>
        Currently, I work for <a href="https://zuru.tech/">ZuruTech Italy</a>, developing graphics and rendering features in <b>Unreal Engine 4</b> and doing research for improving the quality and the performance of the application.
        <br><br>
    </div>

    <div class="column right">
        <img src="/images/me.jpg" alt="Me" style="object-fit: cover; width: 256px; height: 100%; margin-left: 20px; margin-bottom: 20px;">
    </div>
</div>

<div>
    I've also 3 years experience as a pipeline developer writing python tools for <i>VFX</i> and <i>animation</i> studios. I've started in Rome for <a href="https://www.rbw-cgi.it/en/home/">Rainbow CGI</a>, then I moved to London at the <a href="https://www.mpcfilm.com/">MPC - Moving Picture Company</a>, where I have worked on movies like <i>The Lion King</i> and <i>Maleficent 2</i>.
    <br><br>
    Check out some of my public projects in the <a href="{{ "/portfolio" | relative_url }}">portfolio</a> section.
    <br><br>
    To see my job experiences and education, visit <a href="https://www.linkedin.com/in/alessiopaoletti32/">Alessio Paoletti linkedin profile</a>.
    <br><br>
    Recently, I'm diving in to the <b>Computer Vision</b> world, following studies on machine learning.
</div>
